<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">

    <title>Save Employee</title>
</head>
<body>
<div class="container">

    <h3>Employee Directory</h3>

    <hr>

    <p class="h4 mb-4">Save Employee</p>

    <form action="#" method="POST" th:action="@{/employees/save}" th:object="${employee}">
        <input type="hidden" th:field="*{id}">
        <input class="form-control mb-4 col-4" placeholder="First name" th:field="*{firstName}" type="text">
        <input class="form-control mb-4 col-4" placeholder="Last name" th:field="*{lastName}" type="text">
        <input class="form-control mb-4 col-4" placeholder="Email" th:field="*{email}" type="text">

        <button class="btn btn-info col-2" type="submit">Save</button>

    </form>

    <hr>

    <a th:href="@{/employees/list}">Back to Employees List</a>
</div>
</body>
</html>